<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!--bootstrap -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <!-- /bootstrap -->
  <!-- FONTAWESOME -->
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css' integrity='sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==' crossorigin='anonymous'/>
  <!-- /FONTAWESOME -->
  <!-- VueJS -->
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <!-- /VueJs -->
  <link rel="stylesheet" href="style.css">
  <title>Document</title>
</head>
<body>
  
  <div class="container-custom d-flex" id="app">
    <!-- sezione generale SINISTRAAAAAAAAAAAAAAAAAAAAA ------------------------------------------------------------------>
      <div class="left-section">
        <!-- sezione top-left -->
        <div class="top-bar bg-lgrey d-flex justify-content-between align-items-center  ">

          <div class="left">
            <img src="img/avatar_1.jpg" alt="">  
            <span>Gianfrancesco</span>
          </div>

          <div class="right">
            <i class="fa-solid fa-circle-notch"></i>
            <i class="fa-solid fa-message"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>

          </div>
        <!-- ------------- -->

        </div>
        <!-- sezione azzurrina top -->
        <div class="mid-bar d-flex align-items-center ">

          <i class="fa-solid fa-bell-slash"></i>

          <div>
            <span class="d-block ">Ricevi notifiche di nuovi messaggi</span>
            <span class="text-decoration-underline small-grey-text ">Attiva notifiche desktop</span>
          </div>
        </div>
         <!-- ------------- --------->

        <!-- Searchbar -->
        <div class="searchbar-section">
          
          <div class="custom-search-container  _bgrey rounded d-flex align-items-center ">
            <a href="#" class="_b"><i class="fa-solid fa-magnifying-glass ms-2"></i></a>
            <input type="search" placeholder="Cerca o inizia una nuova chat" class="border-0 w-100 mx-2 _bgrey">
          </div>
          
        </div>
        <!-- ------------- --------->

        

        <div class="left-contact-section d-flex  ">

          
          <!-- QUI vanno stampati i contatti -->
          <div class="contact-list w-100 h-100 d-flex flex-column   ">
            
            <div v-for="(contact, index) in contacts" 
            @click = "indexSel = index"
            class="contact d-flex">

              <img :src="contact.avatar" alt="">

              <div>
                <span>{{contact.name}}</span>
                <br>
                <span class="small-grey-text">{{getLastMessage(index)}}</span>
              </div>

              <div class="ms-auto pe-1  small-grey-text">12.30</div>
              
            </div>


          </div>

          

        </div>

      </div>
    <!-- ----------------------------------------------------------------------------------------------------------------- -->
    





    <!-- sezione generale DESTRAAAAAAAAAAAAA -->

      <div class="right-section">

        <!-- TOP section  -->
        <div class="top-bar bg-lgrey d-flex justify-content-between align-items-center ">

          <div class="left d-flex">
            <img src="img/avatar_1.jpg" alt=""> 

            <div >
              <span>Gianfrancesco</span>
              <br>
              <span class="small-grey-text">ultimo accesso oggi alle 12.38</span>
            </div> 
          </div>

          <div class="right">
            <i class="fa-solid fa-magnifying-glass"></i>
            <i class="fa-solid fa-paperclip"></i>
            <i class="fa-solid fa-ellipsis-vertical"></i>

          </div>
        </div>
        <!-- ----------  -->

        <!-- MAIN section  -->
        <div class="main-section d-flex align-items-center ">

<!-- QUI VANNO STAMPATI I MESSAGGIIIIIIIIIII -->

          <div class="container">

          
            <div v-for="(message,index) in contacts[indexSel].messages">
              <div class="message"
              :class=" message.status === 'sent' ? 'mine' : 'not-mine'">{{message.message}}
            
              <span class="msg-time small-grey-text">12.30</span>
            
              </div>
            </div>
              
           <!--  <div class="message mine">
              <span>CIAOOOO</span>
              <span class="msg-time small-grey-text">12.30</span>
            </div>
            

            <div class="message not-mine">
              <span>CIAOOOO</span>
              <span class="msg-time small-grey-text">12.30</span>
            </div> -->

      

          </div>
          


<!-- --------------------------------------- -->         
        </div>

        <!-- ----------  -->

        <!-- BOTTOM section  -->
        <div class="bot-section d-flex justify-content-around align-items-center  bg-lgrey">

          <i class="fa-regular fa-face-smile"></i>

          <input class="form-control form-control-lg w-75" type="text" placeholder="Scrivi un messaggio">

          <i class="fa-solid fa-microphone"></i>
        </div>

        <!-- ----------  -->

      </div>
    
    <!-- ------------------------- -->
  </div>

  <script src="script.js"></script>
</body>
</html>