.red{
  color: red;
}
.bg-lgrey{
  background-color: #eaeaea;
}

body{
  
  background: rgb(216,219,213);
  background: linear-gradient(0deg, rgba(216,219,213,1) 88%, rgba(0,150,128,1) 88%); 
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;

 
}

img{
  width: 50px;
}

.container-custom{
  height: 94%;
  width: 80%;
  margin: 0 auto;
  min-width: 900px;
  min-height: 600px;
  
  margin-top: 1.5%;
  padding: 0;
  background-color: white;

}

/* SEZIONE SINISTRAAAAAA */

.left-section{
  
  height: 100%;
  width: 35%;
}

.right-section{
  
  height: 100%;
  width: 65%;
}

.top-bar{
  border: 1px solid rgba(128, 128, 128, 0.233);
  height: 70px ;
  padding: 0 12px;
}

.top-bar i{
  font-size: 1.35rem;
  padding: 0 10px;
  color: #b1b1b1;
  cursor: pointer;
}

.mid-bar{
  background-color: #8edafc ;
  height: 78px;
  width: 100%;
  padding: 0 15px;
}

.mid-bar div{
  margin-left: 15px;
}

.mid-bar i{
  font-size: 1.5rem;
}

.small-grey-text{
  font-size: 0.8rem;
  color:#818181 ;
}

/* ------------------------------------------ */

/* SEARCHBAR */

.searchbar-section{
  background-color: #eaeaea;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}


.custom-search-container {
  width: 98%;
  height: 37px;
  background-color: white;
}

.custom-search-container a {
  width: 40px;
  border-right: 1px solid lightgrey;
  color:#b1b1b1 ;
}

input[type="search"] {
  outline: none;
}

.custom-search-container input::placeholder {
  font-size: 0.75rem;
}
/* ----- */


.left-contact-section{

  height: calc(100% - 198px);
  position: relative;
  
}

.left-contact-section .scrollbar-prep{
  width: 8px;
  
  height: calc(100% - 198px);
  position: absolute;
  right: 0;
  top: 0;
  background-color: lightgray;
  z-index: 998;
  
}

.left-contact-section .contact-list{ 
  height: 100%;
  overflow-y: scroll;
  
  width: 100%;
  z-index: 999;

}

.left-section .contact{
  border-top: 1px solid lightgray;
  padding: 10px;
}

.contact img {
  margin-right: 10px;
}

/* ///SEZIONE SINISTRA------------- */


/* SEZIONE DESTRAAA ----------------*/

.right-section .bot-section{
  height: 65px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.182);
}

.right-section .main-section{
  width: 100%;
  height:calc(100% - 135px) ;
  background-image: url(/img/mine.jpg);
  overflow-y: scroll;
}

.right-section .bot-section i {
  font-size: 1.55rem;
  
  color: grey;
  cursor: pointer;
}

.right-section .main-section .container{
  
  height: 90%;
  width: 80%;
}

.right-section .message{
  width: 310px ;
  
  border-radius: 10px;
  margin-top: 20px;
  padding: 16px 10px;
  position: relative;
}

.message.mine{
  float: right;
  margin-left: calc(100% - 310px);
  background-color: #d5f9ba;
  
}

.message.not-mine{
  float: left;
  background-color: white;
}

.message .msg-time{
  position: absolute;
  right: 5px;
  bottom: 5px;
  font-size: 0.6rem;
}